@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Fira Code Variable";
    src: url("./fonts/FiraCode-VariableFont_wght.ttf");
}

:root {
    background-color: #011627;
    font-family: "Fira Code Variable";
    color: white;
}

.comentario {
    color: #607B96;
}

.variable {
    color: #4D5BCE;
}

.nombreVariable {
    color: #43D9AD;
}

.contenido {
    color: #E99287;
}